body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: block;
    text-align: center;
    color: black;
}

h2{
    color: green;
}

section{
    display: block;
    text-align: center;
}

button{
    text-align: center;
    color: blue;
}
